body{
}
.grid-container {
    margin: 40px;  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.25fr 0.25fr 0.75fr 0.25fr 0.5fr 0.25fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header"
      "summaryTitle"
      "summaryContent"
      "educationTitle"
      "educationContent"
      "employmentTitle"
      "employmentOceanSuns"
      "employmentComStream";
  }
  .header { 
    grid-area: header; 
    text-align: center;
  }
  .summaryTitle { 
    grid-area: summaryTitle; 
    background-color: lightgray;
  }
  .summaryContent { 
    grid-area: summaryContent; 
    padding-top: 20px;
  }
  .educationTitle { 
    grid-area: educationTitle; 
    background-color: lightgray;
  }
  .educationContent { 
    grid-area: educationContent; 
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "eduColumn1 eduColumn2";
  }
  .eduColumn1{
    grid-area: eduColumn1;
    text-align: left;
  }
  .eduColumn2{
    grid-area: eduColumn2;
    text-align: right;
  }
  .employmentTitle { 
    grid-area: employmentTitle; 
    background-color: lightgray;
  }
  .employmentOceanSuns { 
    grid-area: employmentOceanSuns; 
    border-bottom: dotted grey;
    padding-top: 10px;
  }
  